@import '../../../../styles/colors.scss';
@import '../../../../styles/alignment.scss';
.search-bar{
    height: 35px;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    color: $placehold-color;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
     
    .inner{
        border: none;
        width: 12vw;
        height: 16px;
    }
}


.inner:focus{
    outline: none;
    color: $text-color;
}
