.avatar-circle{
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    background-color: white;
    margin: 0px 10px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 5vw;
    }
}