.avatar-user-info-circle{
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
    background-color: white;
    margin: 0px 10px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 5vw;
    }
}