@import './colors.scss';

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-dark-color;
    height: 100vh;
    .spinner{
        font-size: 5em;
    }
}

.text-color{
    color: $text-color;
}
.placeholder-color{
    color: $placehold-color;
}