@import './colors.scss';

.container{
    flex: 1;
    flex-direction: "column";
    align-items: "center";
    justify-content: "center";
    background-color: $bg-color;
}

.text-color{
    color: $text-color;
}
.placeholder-color{
    color: $placeholder-color;
}