@import "../../../styles/alignment.scss";
@import "../../../styles/colors.scss";

.card-container {
    @extend .flex-column-start-center;
    min-width: 80vh;
    height: 100vh;
    margin: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: $bg-color;
    color: $text-color;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    .card-username-text.bolder {
        font-weight: bolder;
    }
    .card-username-text {
        font-size: 16px;
    }
    .card-username-text.name {
        margin-top: 10px;
        font-size: 18px;
    }
    .card-username-text.spacing{
        margin: 0px 5px;
    }
}
